@charset "utf-8";
/* CSS Document */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body,
td,
th,
p {
  font: 18px/1.6 Arial, Helvetica, sans-serif;
  color: #161616;
}

body {
  background-color: #fff;
  margin: 0;
}

a {
  color: #161616;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #f1efef;
  text-decoration: none;
}

a img {
  border: none;
}

.leaflet-container a {
  color: #015298!important;
}

h1 {
  font-weight: normal;
  margin: 0;
}

h2, 
h3, 
h4, 
h5, 
h6 {
  color: #222;
  margin: 0;
}

p {
  margin: 0 0 0.5rem;
}

th {
  text-align: left;
}

th,
td {
  border-bottom: 2px solid #fff;
}

hr {
  margin: 1.25rem 0;
  width: 45px;
  border: 2px solid #d3cfcb;
}

article, 
aside, 
canvas, 
details, 
figcaption, 
figure, 
footer, 
header, 
hgroup, 
menu, 
nav, 
section {
  display: block;
}

header {
  background-color: #1b1b1b;
}

footer {
  background-color: #161616; 
  padding: 1.25rem 1.25rem 0.75rem;
}

footer p {
  color: #fff;
  text-align: center;
  font-size: 0.85rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

footer a {
  color: #fff;
}

footer a:hover,
footer a:focus {
  text-decoration: underline;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0;
}

/* ====================== Navigation ====================== */

nav h1 {
  padding: 1.25rem; 
}

nav h1 a {
  color: #fff;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}

#breadcrumb {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  background-color: #363636;
  margin: 0;
  padding: 0.5rem 1.25rem 0.5rem;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #fff;
  text-decoration: none;
  font-size: 0.8rem;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #d3cfcb;
}

/* ====================== Map ====================== */

#map-container .container {
  padding: 0;
}

#map {
  height: 400px;
  width: 100%;
}

.map-label {
  display: none;
}

/* ====================== Restaurant Filtering ====================== */

#filter-container {
  background-color: #fff;
  padding: 1.25rem 0;
}

.filter-options {
  padding: 0 1.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filter-options h2 {
  font-weight: normal;
  margin: 1rem 1rem 0 0;
}

.filter-options-label {
  background-color: #161616;
  margin: 0 0.25rem;
}

.filter-options select {
  font-size: 1rem;
  color: #fff;
  background-color: #161616;
  border: 1px solid #161616;
  width: 200px;
  height: 35px;
  margin: 1rem;
  padding: 0 1rem; 
}

.filter-options option {
  background: #eee;
  color: #000;
  padding: 1rem;
}

.filter-label {
  display: none;
}

/* ====================== Restaurant Listing ====================== */

#restaurant-list {
  background-color: #f4f4f3;
  padding: 2.5rem 0;
}

#restaurant-list ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

#restaurants-list li {
  background-color: #fff;
  margin: 2rem 1.25rem;
  min-width: 220px;
  list-style-type: none;
}

#restaurants-list .restaurant-img {
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
  min-height: 220px;
}

#restaurants-list .restaurant-text-area {
  padding: 1.25rem 1.25rem 1.75rem;
}

#restaurants-list .restaurant-text-area h2 {
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  padding-bottom: 1.75rem;
}

#restaurants-list .restaurant-text-area button {
  background: #c00;
  border: 1px solid #c00;
  color: #fff;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 1.75rem;
  padding: 0.75rem 1.25rem;
  cursor: pointer;
}

#restaurants-list .restaurant-text-area button:hover {
  background-color: #b20000;
  border: 1px solid #b20000;
}

#restaurant-list .restaurant-text-area button:after {
  display: inline;
  top: 6px;
  right: 8px;
  color: #fff;
  content: '▷';
  padding-left: 4px;
}

/* ====================== Restaurant Details ====================== */

#restaurant-container {
  background-color: #f4f4f3;
  padding-bottom: 2rem;
}

#restaurant-name {
  color: #c00;
  text-transform: uppercase;
  margin: 0;
  padding: 2rem 1.25rem;
}

#restaurant-img {
  width: 100%;
}

#restaurant-cuisine {
  background-color: #161616;
  color: #fff;
  letter-spacing: 0.125rem;
  text-align: center;
  text-transform: uppercase;
  margin-top: -0.5rem;
  padding: 1.25rem 0;
}

#restaurant-address {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1.25rem;
}

.restaurant-info-board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 1.25rem;
}

#restaurant-hours {
  flex-grow: 1;
  padding: 0 1.25rem 1.25rem 0;
}

.restaurant-address-label,
.restaurant-info-label {
  display: none;
}

.inside #map {
  width: 100%;
  min-width: 200px;
  max-width: 500px;
  height: 240px;
}

#reviews-container-section h2 {
  margin: 0;
  padding: 2rem 1.125rem;
}

#reviews-list {
  margin: 0 auto;
  padding: 0 1.25rem;
  max-width: 800px;
}

#reviews-list li {
  position: relative;
  display: block;
  list-style-type: none;
  margin: 0 0 1.25rem;
  padding: 1.25rem 1.25rem 3.75rem;
  overflow: hidden;
}

#reviews-list li p {
  margin: 0 0 10px;
  width: 100%;
  max-width: 800px;
}

.restaurant-review-comments {
  background-color: #fff;
}

.restaurant-review-comments:before {
    position: absolute;
    right: 0;
    top: -3vw;
    background: #d3cfcb;
    height: 75%;
    width: 60%;
    z-index: -1;
    content: '';
}

.restaurant-review-comments:after {
    position: absolute;
    left: 0;
    background: #f4f4f3;
    height: 45px;
    width: 50px;
    z-index: -1;
    content: '';
}

#reviews-list .restaurant-review-user {
  font-size: smaller;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}

#reviews-list .restaurant-review-date {
  font-style: italic;
}

#reviews-list .restaurant-review-rating {  
  color: #c00;
  font-weight: bold;
  text-align: right;
  margin-top: -58px;
  padding-right: 1.25rem;
  width: 100%;
  max-width: 800px;
}

/* ====================== Media Queries ====================== */

@media only screen and (min-width: 0px) and (max-width: 599px) {
  body {
    font-size: 14px;
  }
  
  h1,
  h2 { 
    text-align: center;
  }

  #filter-container {
    padding-top: 0.5rem;
  }

  .filter-options {
    flex-direction: column;
    align-items: center;
  }

  .filter-options-label {
    border-bottom: 0.25rem solid #fff;
  }

  .filter-options select {
    font-size: 0.8rem;
    margin: 0.55rem;
  }

  #restaurants-list li {
    flex: 0 0 85%;
  }

  #reviews-list {
    padding: 0;
  }
}

@media only screen and (min-width: 600px) and (max-width: 984px) {
 body {
    font-size: 14px;
  }

  .filter-options h2 {
    margin-right: 0.5rem;
  }

 .filter-options select {
    font-size: 0.9rem;
    margin: 0.75rem;
    padding: 0 0.75rem;
    width: 170px;
  }

  #restaurants-list li {
    flex: 0 0 42%;
  }
}

@media only screen and (min-width: 985px) {
  #restaurants-list li {
    flex: 0 0 29%;
  }
}
